/* Reset default browser styles */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height of the viewport */
}

header {
    background-color: #D6E7D9;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #728963;
    color: #fff;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #6e9654;
}

main {
    flex: 1; /* Allow main content to grow and push the footer */
    margin: 30px;
    display: flex;
    justify-content: space-around;

}
section {
    margin-bottom: 30px;
    
}

.div-main {

    height: 100%;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

.download-btn {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: #0056b3;
}

.mobile {
    height: 60vh;


}

.div-main2{
    margin-top: 10%;
}


.dropbtn {
    background-color: #728963;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }